<title>${WEB_NAME!}</title>
<meta charset="utf-8" />
<meta name="description" content="李维的个人博客。好coding，不求甚解，每有good idea，便欣然忘食。" />
<meta name="keywords" content="李维, abreaking，个人博客" />
<meta name="author" content="李维" />
<link rel="icon" href="${CTPATH}/images/icon/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<!--[if lte IE 8]><script src="${CTPATH}/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="${CTPATH}/assets/css/main.css" />
<!--[if lte IE 9]><link rel="stylesheet" href="${CTPATH}/assets/css/ie9.css" /><![endif]-->
<!--[if lte IE 8]><link rel="stylesheet" href="${CTPATH}/assets/css/ie8.css" /><![endif]-->
<script src="${CTPATH}/assets/js/jquery.min.js"></script>
<script src="${CTPATH}/assets/js/skel.min.js"></script>
<script src="${CTPATH}/assets/js/util.js"></script>
<script src="${CTPATH}/assets/js/main.js"></script>