<section class="summer">
    <div class="content">
        <header>
            <h2><i class="fa fa-flag" aria-hidden="true"></i> ${content.title}</h2>
        </header>

        
        <div class="summary">
            <p>${content.summary}</p>
        </div>

        <ul class="actions">
            <li><a href="${content.url}" class="button big">查看全部</a></li>
        </ul>

    </div>
    <#if content.thumbnail ??>
    <span class="image object">
        <img src="${(content.thumbnail)!}" alt="" />
    </span>
    </#if>

    <footer>
        <span>
            <i class="fa fa-bars" aria-hidden="true"></i>
            ${content.getTaxonomyAsUrl('category')!'未分类'}
        </span>
        &nbsp;
        <span>
            <i class="fa fa-clock-o" aria-hidden="true"></i>

            <script type="text/javascript">
                var t ="${content.created}";
                document.write(dateFormatByDatetime(t));
            </script>
        </span>
        &nbsp;
        <span >
            <i class="fa fa-eye" aria-hidden="true"></i>
            ${content.view_count!'0'}
        </span>
        &nbsp;
        <span >
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
            ${content.comment_count!'0'}
        </span>
    </footer>
</section>