
    <li>
        <a href="${CPATH}/"><i class="fa fa-home hide-in-phone" aria-hidden="true"></i> 博客首页</a>
    </li>
    <@jp.taxonomys type="category">
    <#list taxonomys as t>
    <li>
        <#if t.getChildList().isEmpty() >
        <a href="${t.url!}">${t.title!}</a>
        <#else>
        <span href="${t.url!}" class="opener"><i class="fa fa-flag hide-in-phone" aria-hidden="true"></i> ${t.title!}</span>
        <ul>
            <#list t.getChildList() as fst>
            <li><a href="${fst.url!}">${fst.title!}</a></li>
        </#list>
        </ul>
        </#if>
    </li>
    </#list>
    </@jp.taxonomys>
