<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>沐风诗集</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-transform"/>
		<meta http-equiv="Cache-Control" content="no-siteapp"/>
		<meta name="keywords" content="沐风诗集，李维的诗集"/>
		<meta name="description" content="诗酒趁年华"/>
		<link rel="shortcut icon" th:href="@{/user/img/favicon.png}"/>
		<link rel="stylesheet" th:href="@{/halcyonic/assets/css/row.css}" />
		<link rel="stylesheet" th:href="@{/halcyonic/assets/css/main.css}" />
		<link rel="stylesheet" th:href="@{/halcyonic/assets/css/poetry.css?v=1.0}" />
		<noscript><link rel="stylesheet" th:href="@{/halcyonic/assets/css/noscript.css}"/></noscript>
	</head>
	<body class="is-preload">
		<div th:replace="themes/halcyonic/index :: headNav('poetry')"></div>

		<!-- Page Wrapper -->
		<div id="page-wrapper">
			<!-- Wrapper -->
			<div href="#" id="wrapper">
				<input id="pageNum" hidden="hidden" value="1">
				<!-- Panel -->
				<section class="panel" th:each="poetry : ${poetryList}">
					<div class="intro color4 scroll-bar">
						<h3 class="major" th:text="${poetry.title}"></h3>
						<th:block th:utext="${poetry.content}"></th:block>
					</div>
				</section>

				<section class="panel" id="page-load">

					<a href="javascript:void(0)" onclick="loadNextPage()">
						<span class="hide-small">
							<i class="fa fa-angle-double-right fa-3x " aria-hidden="true"></i>
						</span>
						<span class="hide show-small">
							<i class="fa fa-angle-double-down fa-3x " aria-hidden="true"></i>
						</span>
					</a>

				</section>
			</div>
		</div>

		<div class="button-group">
			<ul class="actions">
				<li><a id="next" href="javascript:void(0)"  onclick="scrollNext(-2)" class="button primary circle icon fa fa-angle-left">Next</a></li>
				<li><a id="last" href="javascript:void(0)" onclick="scrollNext(2)" class="button primary circle icon fa fa-angle-right">last</a></li>
			</ul>
		</div>


		<div th:replace="themes/halcyonic/index :: myScript"></div>
		<script th:src="@{/halcyonic/assets/js/scroll.js}"></script>
		<script th:inline="javascript" type="text/javascript">

			function scrollNext(direction){
				var $document = $(document);
				var intervalId = setInterval(function() {
					$document.scrollLeft($document.scrollLeft() + (20 * direction));

				}, 25);
				setTimeout(function(){
					clearInterval(intervalId);
				},400);
			}


			function appendMoreSection(list){
				var plPage = $("#page-load")[0];
				$("#page-load").remove();

				for (var i=0;i<list.length;i++){
					var content = list[i];
					$("#wrapper").append(
						'<section class="panel">' +
						'<div class="intro color4 scroll-bar">' +
						'<h3 class="major">'+content.title+'</h3>' +
						content.content+
						'</div>' +
						'</section>');
				}

				$("#wrapper").append(plPage);

			}

			var ctx = [[@{/}]];

			function loadNextPage(){
				var nextPageNum = parseInt($("#pageNum").val())+1;
				$.ajax({
					url: ctx +"poetry/page/"+nextPageNum,
					type: 'post',
					dataType: 'json',
					success: function(pageInfo){
						$("#pageNum").val(pageInfo.pageNum);

						if (!pageInfo.hasNextPage){
							$("#page-load").html("没得了哟....");
						}
						appendMoreSection(pageInfo.list);
						scrollNext(2);
					}
				})
			}
		</script>

	</body>
</html>