<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abreaking.blog.dao.VisitorVoMapper">

    <resultMap id="BaseResultMap" type="com.abreaking.blog.utils.visitor.Visitor">
        <id column="tsid" jdbcType="BIGINT" property="tsid" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="addr" jdbcType="VARCHAR" property="addr" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="agent" jdbcType="VARCHAR" property="agent" />
        <result column="access_time" jdbcType="VARCHAR" property="accessTime" />
    </resultMap>

    <insert id="insert" parameterType="com.abreaking.blog.utils.visitor.Visitor"  keyProperty="tsid">
        insert into t_visitor (tsid, ip, city, addr, path, agent,access_time)
        values (#{tsid,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
          #{addr,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{agent,jdbcType=VARCHAR}, #{accessTime,jdbcType=VARCHAR}
          )
  </insert>

</mapper>